/lib
/.idea
/out
/idea/*
*.iml
.settings
.idea
.classpath
.settings/*
bin/*
gen/*
build/*
/bin
/libs
/gen
/build
./assets/config.properties
assets/config.properties
./project.properties
arlearn.pim.iml
